extends ../_layout
block body
  header
    .wrap.u-centerMargin(style="max-width: 600px;")
      h1.f-tc Hello.#[span.f-fade civichack.us]

      h2.f-tc.
        Five minute, topical interviews with experienced brigade membership
        about trials, tribulations, tips, tricks, and first hand experience
        trying to make this whole Code for America thing work.

      p.f-tc.
        Let's collect some institutional knowledge.

      p.f-tc.
        Take a look at 
        #[a(href="https://docs.google.com/document/d/1THGqCtxPRxojFgQqFKnUimk3HBcRFzVXs2w3RwEJy9I/edit#heading=h.5hfznm5o3agj", target="_blank") the topic idea document]
        for more interview topic ideas and to volunteer to be interviewed. 

      p.f-tc.
        Site code hosted #[a(href="https://github.com/enlore/hello.civichack.us", target="_blank") on GitHub].
        If you want to submit a video link, take a look at the source and
        create a pull request. I'll streamline the contributing process later.
        If you aren't comfortable making a pull request, just shoot me an
        email.

      p.f-tc.
        Email me at #[a(href="mailto:nick@codefornashville.org") nick@codefornashville.org]
        with any questions or comments.

  section.vids
    #vids-mount
      .control-group.u-centerMargin(style="max-width: 800px;")
        label Search and filter
        input.searchInput(type="search", v-model="searchTerm")

      viddy(v-show="filteredVids.length > 0", v-for="video in filteredVids", :key="video.src", :src="video.src", :tags="video.tags", @tagclick="searchTerm = $event")

      p.f-tc(v-show="!filteredVids.length > 0") Hey, no results for #[span.f-highlight {{ this.searchTerm }}]

    script.
      var Vid = {
        data: function () { return {} },

        props: [
          'src',
          'tags'
        ],

        template:
          '<div class="vid">'
        +   '<iframe class="vid-frame" :src="src" frameborder="0"></iframe>'
        +   '<span class="vid-tag" v-for="tag in tags" @click="$emit(\'tagclick\', tag)"> {{ tag }} </span>'
        + '</div>'
      }

      new Vue({
        el: "#vids-mount",

        components: {
          'viddy': Vid
        },

        data: {
          searchTerm: "",
          videos: [
              {
                  src: "https://www.youtube.com/embed/0AHVdETLJlA?rel=0&html5=true",
                  interviewer: "",
                  interviewee: "",
                  tags: ["new leadership", "returning brigade", "leadership"],
                  notes: "About writing poems about dogs"
              },
              {
                  src: "https://www.youtube.com/embed/1Yj-6tIeQXA?rel=0",
                  interviewer: "",
                  interviewee: "",
                  tags: ["experienced brigade", "many captains", "events", "leadership"],
                  notes: ""
              },
              {
                  src: "https://www.youtube.com/embed/FkEZvp0cjgc?rel=0",
                  interviewer: "",
                  interviewee: "",
                  tags: ["design", "theory", "civics"],
                  notes: "Super useful information from a real handy dandy dude who likes cats"
              },
          ]
        },

        computed: {
          filteredVids: function () {
            return (this.searchTerm === "")
              ? this.videos
              : this.searchEngine.search(this.searchTerm)
          }
        },

        created: function () {
          this.searchEngine = new window.Fuse(this.videos, {
            shouldSort: true,
            keys: ['tags', 'notes']
          })
        }
      })

  
