extends ../_layout
block body
  header
    .wrap.u-centerMargin(style="max-width: 600px;")
      h1.f-tc Hello.#[span.f-fade civichack.us]

      p.f-tc.
        Let's collect some institutional knowledge.

      p.f-tc.
        Take a look at 
        #[a(href="https://docs.google.com/document/d/1THGqCtxPRxojFgQqFKnUimk3HBcRFzVXs2w3RwEJy9I/edit#heading=h.5hfznm5o3agj", target="_blank") the topic idea document]
        for more interview topic ideas and to volunteer to be interviewed. 

      p.f-tc.
        Email me at #[a(href="mailto:nick@codefornashville.org") nick@codefornashville.org]
        with any questions or comments.

  section.vids
    #vids-mount
      .vid(v-for="video in videos")
        iframe.vidFrame( :src="video.src", frameborder="0", allowfullscreen)

    script.
      new Vue({
        el: "#vids-mount",
        data: {
          videos: [
              {
                  "src": "https://www.youtube.com/embed/0AHVdETLJlA?rel=0",
                  "interviewer": "",
                  "interviewee": ""
              },
              {
                  "src": "https://www.youtube.com/embed/1Yj-6tIeQXA?rel=0",
                  "interviewer": "",
                  "interviewee": ""
              },
              {
                  "src": "https://www.youtube.com/embed/FkEZvp0cjgc?rel=0",
                  "interviewer": "",
                  "interviewee": ""
              },
          ]
        }
      })

  
