doctype html

html
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    title Hello, Civic Hack 
    meta(name="description" content="")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    // facebook open graph tags
    meta(property="og:type", content="website")
    meta(property="og:url", content="https://hello.civichack.us")
    meta(property="og:title", content="Hello.civichack.us")
    //-meta(property="og:description", content="")
    //-meta(property="og:image", content="")

    // twitter card tags additive with the og: tags
    meta(name="twitter:card", content="summary_large_image")
    meta(name="twitter:domain", value="hello.civichack.us")
    meta(name="twitter:title", value="Hello.civichack.us")
    //-meta(name="twitter:description", value="Join us for a day of tech volunteerism to benefit the residents of Nashville.")
    //-meta(name="twitter:image", content="https://nashville.civichack.us/img/bat-banner.jpg")
    meta(name="twitter:url", value="https://hello.civichack.us/")
    //-meta(name="twitter:label1", value="When")
    //-meta(name="twitter:data1", value="September 23, 8am CST")
    //-meta(name="twitter:label2", value="Where")
    //-meta(name="twitter:data2", value="500 Interstate Blvd S, Nashville, TN")

    //link(rel="apple-touch-icon" href="apple-touch-icon.png")

    // Uncomment the following as needed

    link(rel="stylesheet" href="/css/normalize.css")
    link(rel="stylesheet" href="/css/main.css")

    link(href="https://fonts.googleapis.com/css?family=Open+Sans:400|Zilla+Slab:600", rel="stylesheet")
    //script(src="js/vendor/modernizr-2.8.3.min.js")

  body
    //
        [if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]

    script(src="https://unpkg.com/vue@2.5.2/dist/vue.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.0.4/fuse.min.js")

    block body


    // Google Analytics: change UA-XXXXX-Y to be your site's ID.
    script  window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date; ga('create','UA-XXXXX-Y','auto');ga('send','pageview')
    script(src="https://www.google-analytics.com/analytics.js" async defer)
